# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Arquivos de compilação não devem ser enviados para o repositório
build/*

#Arquivos CMakeLists.txt.user não devem ser enviados para o repositório
CMakeLists.txt.user

#Arquivos temporários não devem ser enviados para o repositório
*.*~

#Arquivos wrl não devem ser enviados para o repositório
*.wrl
